<launch>
  <arg name="world"                     default="lane"/>
  <arg name="laser_model"               default="sick-571"/>
  <arg name="public_sim"                default="true"/>
  <arg name="base_type"                 default="pmb2"/>
  <arg name="planner"                   default="base"/>
  <arg name="global_planner"            default="global_planner"/>
  <arg name="local_planner"             default="$(eval 'teb' if (arg('public_sim') or arg('base_type')=='omni_base') else 'pal')"/>
  <arg name="mapping"                   default="$(eval 'gmapping' if arg('public_sim') else 'karto')"/>
  <arg name="rgbd_sensors"              default="false"/>
  <arg name="lost"                      default="false"/>
  <arg name="gzpose"                    default="-x -9.060234  -y 1.822788  -z -0.000702  -R 0.000023  -P 0.000023  -Y -1.566875" unless="$(arg lost)"/>
  <arg name="gzpose"                    default="-x 0.0 -y 0.0 -z 0.0 -R 0.0 -P 0.0 -Y 0.0" if="$(arg lost)"/>
  <arg name="localization"              default="amcl"/>
  <arg name="map"                       default="$(env HOME)/.pal/tiago_maps/configurations/$(arg world)"/>
 

  <!-- launching gazebo simulation -->
  <include file="$(find hrsi_gazebo)/launch/simulation.launch">
    <arg name="world"                   value="$(arg world)"/>
    <arg name="gzpose"                  value="$(arg gzpose)"/>
  </include>


  <!-- launching navigation -->
  <include file="$(find tiago_2dnav_gazebo)/launch/navigation.launch">
    <arg name="state"                   value="localization"/>
    <arg name="localization"            value="$(arg localization)"/>
    <arg name="planner"                 value="$(arg planner)"/>
    <arg name="global_planner"          value="$(arg global_planner)"/>
    <arg name="local_planner"           value="$(arg local_planner)"/>
    <arg name="map"                     value="$(arg map)"/>
    <arg name="public_sim"              value="$(arg public_sim)"/>
    <arg name="rgbd_sensors"            value="$(arg rgbd_sensors)"/>
    <arg name="laser_model"             value="$(arg laser_model)"/>
    <arg name="base_type"               value="$(arg base_type)"/>
  </include>

  <!-- launching rviz -->
  <node name="rviz" pkg="rviz" type="rviz"
          args="-d $(find hrsi_mapping_gazebo)/config/rviz/mapping.rviz"/>


  <!-- pointcloud to laserscan-->
  <group if="$(arg public_sim)">
    <include file="$(find tiago_laser_sensors)/launch/rgbd_cloud_laser.launch">
      <arg name="cloud"                 value="/xtion/depth_registered/points"/>
    </include>
  </group>

  <group unless="$(arg public_sim)">
    <include file="$(find pal_loc_measure)/launch/pal_loc_measure.launch">
      <arg name="training"              value="False"/>
    </include>
  </group>

</launch>

