<launch>

    <!-- Launching Velodyne -->
    <include file="$(find velodyne_pointcloud)/launch/VLP16_points.launch" />

    <!-- Transformation from torso_lift_link to velodyne -->
    <node pkg="tf" type="static_transform_publisher" name="torso_lift_link_to_velodyne_tf" args="0 0 0.3 0 0 0 torso_lift_link velodyne 10" />

    <!-- PointCloud to LaserScan for Chest detection -->
    <node name="chest_detector" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
      <remap from="cloud_in" to="/velodyne_points"/>
      <remap from="scan" to="/detector/chest" />
      <rosparam>
        target_frame: base_link
        transform_tolerance: 0.01
        min_height: 1.0
        max_height: 1.5
        
        angle_min: -3.141592
        angle_max: 3.141592
        angle_increment: 0.0087
        scan_time: 0.3333
        range_min: 0.1
        range_max: 15.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>

    <!-- PointCloud to LaserScan for Leg detection -->
    <node name="leg_detector" pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node">
      <remap from="cloud_in" to="/velodyne_points"/>
      <remap from="scan" to="/detector/leg" />
      <rosparam>
        target_frame: base_link
        transform_tolerance: 0.01
        min_height: 0
        max_height: 0.5
        
        angle_min: -3.141592
        angle_max: 3.141592
        angle_increment: 0.0087
        scan_time: 0.3333
        range_min: 0.1
        range_max: 15.0
        use_inf: true
        
        #concurrency_level affects number of pc queued for processing and the number of threadsused
        # 0: Detect number of cores
        # 1: Single threaded
        # 2: inf : Parallelism level
        concurrency_level: 1
      </rosparam>
    </node>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiago_pcl_to_laserscan)/config/rviz/tiago_pcl_to_laserscan.rviz"/>
</launch>