<launch>

    <!-- Killing twist_mux and twist_marker  -->
    <node name="killer" pkg="action_manager" type="killer.sh" />

    <!-- Relaunching twist_mux and twist_marker  -->
    <node name="twist_mux" pkg="twist_mux" type="twist_mux" launch-prefix="bash -c 'sleep 10; $0 $@' ">
        <arg name="cmd_vel_out"     value="/mobile_base_controller/tmp_cmd_vel"/>
    </node>
    <node name="twist_marker" pkg="twist_mux" type="twist_marker" launch-prefix="bash -c 'sleep 10; $0 $@' ">
        <arg name="cmd_vel_out"     value="/mobile_base_controller/tmp_cmd_vel"/>
    </node>

    <!-- Launching action_manager node  -->
    <node name="action_manager" pkg="action_manager" type="action_manager.py" />

</launch>