<launch>
  <!-- parameters fo person detection rosnode -->
  <arg name="field_of_view"  default="60" />
  <arg name="dist_threshold"  default="3" />

  <!-- parameter fo person following rosnode -->
  <arg name="des_dist"  default="1.5" />

  <!-- Machine definition -->
  <machine name="TIAGo" user="pal" address="tiago-29c" default="true" />
  <machine name="PC" user="lcastri" address="luca-castri" default="true" />
  
   <!-- Bayes Tracker -->
  <include file="$(find tiago_tracker_bringup)/launch/tiago_tracker.launch">
    <machine name="TIAGo" />
  </include>
  
  <!-- Person detection rosnode -->
  <node name="person_detection" pkg="person_detection" type="person_detection.py" machine="TIAGo" >
    <param name="field_of_view" value="$(arg field_of_view)" /> 
    <param name="dist_threshold" value="$(arg dist_threshold)" /> 
  </node>

  <!-- Person following rosnode -->
  <node name="person_following" pkg="person_following" type="person_following.py" machine="TIAGo" >
    <param name="des_dist" value="$(arg des_dist)" /> 
  </node>

  <!-- rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tiago_tracker_bringup)/launch/tiago_tracker.rviz -f map" machine="PC" />

</launch>
