<launch>

  <arg name="bagname" />

  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch" /> -->

  <node pkg="rosbag" type="record" name="rosbag_record_scene"
        args="record -O ~/rosbags/$(arg bagname)_scene.bag 
              /camera/color/image_raw
              /camera/color/image_raw/compressed"

  />

  <!-- <node name="realsenseviewer" pkg="tiago_record_data" type="realsense.sh" /> -->

</launch> 
