<launch>
  <arg name="bagname" required="true" />

  <node pkg="rosbag" type="record" name="rosbag_record_data"
        args="record -O ~/rosbags/$(arg bagname).bag 
              /velodyne_points 
              /head_controller/state 
              /torso_controller/state 
              /mobile_base_controller/cmd_vel 
              /robot_pose
              /tf 
              /tf_static"
  />

</launch> 
